@if (message()) {
  <p class="message">{{ message() }}</p>
}

@if (isLoading()) {
  <p>Chargement des propriétés médicinales...</p>
}
@else {
  <section class="proprietes-card">
    <div class="page-header">
      <h2>Liste des propriétés</h2>
      <input class="search-input" type="text" placeholder="Rechercher une propriété" [value]="recherche()" (input)="changerRecherche($event)">
      <button type="button" class="add-button" (click)="afficherAjout()">Ajouter une propriété</button>
    </div>

    @if (proprietesFiltrees().length === 0) {
      <p>Aucune propriété médicinale enregistrée.</p>
    }
    @else {
      <div class="proprietes-grid">
        @for (propriete of proprietesFiltrees(); track propriete.id_propriete) {
          <article class="propriete-item">
            <strong>{{ propriete.nom_propriete }}</strong>

            <div class="actions">
              <button type="button" class="edit-button" (click)="afficherModification(propriete)">Modifier</button>

              <button type="button" class="delete-button" (click)="supprimer(propriete)"> ✕ </button>
            </div>
          </article>
        }
      </div>
    }

    @if (mode() !== 'aucun') {
      <form class="propriete-form" [formGroup]="proprieteForm" (ngSubmit)="enregistrer()">
        <h2>{{ getTitreFormulaire() }}</h2>

        <div class="form-field">
          <label for="nom_propriete">Nom de la propriété</label>
          <input id="nom_propriete" type="text" formControlName="nom_propriete" placeholder="Exemple : digestive, antioxydante...">

          @if (proprieteForm.controls.nom_propriete.invalid && proprieteForm.controls.nom_propriete.touched) {
            <p class="error">Le nom de la propriété est obligatoire.</p>
          }
        </div>

        <div class="form-actions">
          <button type="submit" class="save-button">Enregistrer</button>
          <button type="button" class="cancel-button" (click)="annuler()">Annuler</button>
        </div>
      </form>
    }
  </section>
}