<nav>
  @if (!authService.isLoggedIn()) {
    <a routerLink="/connexion" routerLinkActive="active">Connexion</a>
  }
  @else {
    <span class="badge-utilisateur">{{ getInitiales() }}</span>
    <button type="button" (click)="deconnexion()">Déconnexion</button>
  }
  <a routerLink="/categories" routerLinkActive="active">Catégories</a>
  <a routerLink="/especes" routerLinkActive="active">Espèces</a>
  <a routerLink="/varietes" routerLinkActive="active">Variétés</a>
  <a routerLink="/aromates" routerLinkActive="active">Aromates</a>

  @if (authService.hasAnyRole(['GESTIONNAIRE_CATALOGUE', 'ADMIN'])) {
    <a routerLink="/proprietes-medicinales" routerLinkActive="active">Propriétés médicinales</a>
  }

  <a routerLink="/produits" routerLinkActive="active">Produits</a>

  @if (authService.hasRole('ADMIN')) {
    <a routerLink="/utilisateurs" routerLinkActive="active">Utilisateurs</a>
    <a routerLink="/roles" routerLinkActive="active">Roles</a>
  }
</nav>