<aside class="filtres-panel">
  <div class="filtres-header">
    <h3>Filtres</h3>

    <button type="button" class="reset-filtres-button" (click)="resetFiltres()"> ✕ </button>
  </div>

  <label for="rechercheProduit">Recherche</label>
  <input id="rechercheProduit" type="text" placeholder="Nom, variété, espèce..."
    [value]="recherche()" (input)="changerRecherche($event)">

  <label for="filtreStock">Stock</label>
  <select id="filtreStock" [value]="stockRecherche()" (change)="changerStockRecherche($event)">
    <option value="">Tous</option>
    <option value="en-stock">En stock</option>
    <option value="rupture">Rupture de stock</option>
  </select>

  <label for="prixMin">Prix minimum</label>
    <input id="prixMin" type="number" [placeholder]="prixMinimumDisponible() + ' €'"
    [min]="prixMinimumDisponible()" [max]="prixMaximumDisponible()"
    [value]="prixMinRecherche()" (input)="changerPrixMinRecherche($event)">

  <label for="prixMax">Prix maximum</label>
    <input id="prixMax" type="number" [placeholder]="prixMaximumDisponible() + ' €'"
    [min]="prixMinimumDisponible()" [max]="prixMaximumDisponible()"
    [value]="prixMaxRecherche()" (input)="changerPrixMaxRecherche($event)">

  <label for="filtreVariete">Variété</label>
    <select id="filtreVariete" [value]="varieteRecherche()" (change)="changerVarieteRecherche($event)">
    <option value="">Toutes</option>
    @for (variete of varietes(); track variete) {
        <option [value]="variete">{{ variete }}</option>
    }
    </select>

  <label for="filtreEspece">Espèce</label>
  <select id="filtreEspece" [value]="especeRecherche()" (change)="changerEspeceRecherche($event)">
    <option value="">Toutes</option>
    @for (espece of especes(); track espece) {
        <option [value]="espece">{{ espece }}</option>
    }
    </select>

</aside>