<a class="back-link" routerLink="/produits">← Produits</a>

@if (isLoading()) {
  <p>Chargement du produit...</p>
}
@else if (message()) {
  <p class="message">{{ message() }}</p>
}
@else if (produit()) {
  <article class="detail-card">
    <header class="detail-header">
      <div>
        <h1>{{ produit()?.intitule }}</h1>
        <p class="variete">{{ produit()?.variete?.nom }}</p>
      </div>

      <span class="statut" [class.inactif]="produit()?.quantite === 0">{{ getStatutProduit() }}</span>
    </header>

    <section class="top-section">
      <div class="image-zone">
        @if (getImageProduit()) {
          <img [src]="getImageProduit()" [alt]="produit()?.intitule">
        }
        @else {
          <div class="image-placeholder">Image non disponible</div>
        }
      </div>

      <div class="resume">
        <p class="prix">{{ produit()?.prix_unitaire }} €</p>
        <p><strong>Quantité: </strong>{{ produit()?.quantite }}</p>
        <p><strong>Bio: </strong>{{ getLabelBio() }}</p>

        <div class="actions">
          @if (authService.hasAnyRole(['ADMIN', 'GESTIONNAIRE_CATALOGUE'])) {
            <a class="edit-link" [routerLink]="['/produits/modifier', produit()?.id_produit]">Modifier le produit</a>
            <button type="button" class="delete-button" (click)="supprimerProduit()">Supprimer le produit</button>
          }
        </div>
      </div>
    </section>

    <section>
      <h3>Culture</h3>

      <div class="info-grid">
        @if (produit()?.variete?.nom) {
          <p><strong>Variété: </strong>{{ produit()?.variete?.nom }}</p>
        }

        @if (produit()?.variete?.espece?.nom_commun) {
          <p><strong>Nom commun: </strong>{{ produit()?.variete?.espece?.nom_commun }}</p>
        }

        @if (produit()?.variete?.espece?.nom_scientifique) {
          <p><strong>Nom scientifique: </strong><span class="italic">{{ produit()?.variete?.espece?.nom_scientifique }}</span></p>
        }
      </div>
    </section>

  </article>

}